@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
* {
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: red;
  height: 80px;
  max-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: rgba(32,33,36,0.05) 0px 1px 50px;
  z-index: 1;
}
main {
  margin-top: 80px;
  padding: 0px 0px 20px 0px;
  flex: auto;
}
.header_content, .main_content, .footer_content {
  padding: 10px;
  width: inherit;
  max-width: 1080px;
  margin: 0 auto;
}
.news_page {
  background: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  margin: 0 auto;
}
.news_page_title {
  padding: 20px;
  color: #000000;
  font-size: 36px;
  max-width: 600px;
}
.news_page_text {
  padding: 20px;
  color: #000000;
  font-size: 16px;
  max-width: 600px;
  font-weight: 500;
}
.news_page_text > article{
  padding-top: 10px;
  padding-bottom: 10px;
}
.news_page_time {
  padding: 10px 10px 10px 20px;
  color: #adadad;
  font-size: 12px;
  font-weight: 500;
}
.news_page_img {
  padding: 20px;
}
.news_page_title > span {
  font-family: Montserrat-Bold, Arial, sans-serif;
}
.copyright {
  bottom: 0;
  color: #3b3b3b;
}
.news {
  background: #ffffff;
  background-size: cover;
  background-position: center center;
  width: 740px;
  height: 300px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: rgba(32,33,36,0.05) 0px 1px 50px;
  pointer-events: auto !important;
  position: relative;
}
.news:hover .news_background{
  opacity: 1;
}
.mini_news {
  padding: 20px;
  background: #ffffff;
  background-size: cover;
  width: 280px;
  height: 570px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: rgba(32,33,36,0.05) 0px 1px 50px;
  pointer-events: auto !important;
}
.mini_news_title {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 17px;
  font-weight: bolder;
  color: #5e5e5e;
}
.mini_news_news {
  height: 100px;
  padding-top: 10px;
  position: relative;
  border-bottom: 1px #dddddd solid;
}
.mini_news a:last-of-type .mini_news_news {
  border-bottom: 0;
}
.mini_news_news:hover .mini_news_news_title {
  color: #0075ff;
  text-shadow: 0px 0px 70px #0075ff;
}
.mini_news_news_time {
  padding: 0px 0px 10px 0px;
  position: absolute;
  bottom: 0;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: bold;
}
.mini_news_news_title {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}
.news_vignette {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
  position: absolute;
  border-radius: 3px;
}
.news_background {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.3);
  transition: .3s;
  position: absolute;
  border-radius: 3px;
}
.news_title {
  bottom: 0;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  max-width: inherit;
}
.news_title > span {
  font-family: Montserrat-Bold, Arial, sans-serif;
}
.news_time {
  color: #a1a1a1;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
.news_info {
  position: absolute;
  bottom: 0;
  padding: 15px;
  max-width: 560px;
}
.horizontal {
  pointer-events: none;
  float: left;
}
a {
  text-decoration: none;
}
footer {
  min-height: 200px;
  flex-shrink: 0;
  background: #ffffff;
  box-shadow: rgba(32,33,36,0.05) 0px 1px 50px;
}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /*background: #f4f6f6;*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,960,482)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='487' height='405.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
